:host {
  display: block;
  background-color: var(--color-grey-200);
  min-height: 100dvh;
}

.discover-onigiri-btn {
  background-color: var(--color-grey-1000);
  color: var(--color-grey-100);
}

.signout-btn {

  height: 40px;
  width: min-content;
  font-size: 12px;
  color: var(--color-grey-1000);
  background-color: var(--color-grey-450);
}