:host {
  display: block;
}

.period-selector {
  margin-left: 20rem;
  gap: 10px;

  p-inputSwitch {
    margin-bottom: -2px;
  }
}

.products {
  margin-top: 40px;
  column-gap: 30px;
}

.subscription-details {
  display: flex;
  justify-content: stretch;

  border: 1px solid var(--color-grey-450);
  border-radius: var(--border-radius);
  background: #fff;

  &__section {
    flex: 1;

    &:nth-child(1) {
      padding-left: 30px;
      padding-top: 40px;
      padding-bottom: 30px;
      border-right: 1px solid var(--color-grey-450);
    }

    &:nth-child(2) {
      padding-left: 40px;
      padding-top: 40px;
    }

    &-bottom {
      height: 40px;
    }
  }

  .subscription-name {
    margin-bottom: 40px;
  }

  .subscription-price {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 1199px) {
  .flex.align-items-center {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start;
    gap: 18px;
  }

  .period-selector {
    margin-left: 0 !important;
    width: 100%;
    flex-direction: row !important;
    flex-wrap: nowrap;
    align-items: center !important;

    &__lbl {
      font-size: 16px !important;
      font-weight: bold !important;
    }
  }

  .products {
    flex-direction: column;
    align-items: stretch;
    gap: 18px;
    margin-top: 18px;

    > div {
      width: 100% !important;
    }
  }
}
