<h2>Business Details</h2>

<div [formGroup]="form">

  <div class="grid grid-nogutter o-c-gap-30 align-items-center">

    <div class="col flex flex-column">

      <div class="field">
        <label for="bd_contact_name"
               class="o-input-lbl">Contact name</label>
        <input pInputText
               id="bd_contact_name"
               type="text"
               formControlName="contactName"
               autocomplete="off"
               class="w-full o-h-40" />
      </div>

      <div class="field">
        <label for="bd_company_name"
               class="o-input-lbl">Company / Business name</label>
        <input pInputText
               id="bd_company_name"
               type="text"
               formControlName="companyName"
               autocomplete="off"
               class="w-full o-h-40" />
      </div>

    </div>

    <div class="col align-items-center">

      <div class="flex align-items-center">
        <div class="logo-input">
          <image-upload [formControl]="logoControl"
                        placeholder="Add logo" />
        </div>

        <div class="ml-3 flex-1">
          <p>Upload your logo.</p>
          <p class="mt-2">Preferred image size: 512x512</p>
          <p>Format: .png, .svg, .jpg </p>
        </div>
      </div>

    </div>

  </div>

  <div class="grid grid-nogutter o-c-gap-30">

    <div class="col flex flex-column">

      <div class="field">
        <label for="bd_email"
               class="o-input-lbl">Email</label>
        <input pInputText
               id="bd_email"
               type="text"
               formControlName="email"
               autocomplete="off"
               class="w-full o-h-40" />
      </div>

      <div class="field">
        <label for="bd_address"
               class="o-input-lbl">Address</label>
        <input pInputText
               id="bd_address"
               type="text"
               formControlName="address"
               autocomplete="off"
               class="w-full o-h-40" />
      </div>

      <div class="field">
        <label for="bd_postal_code"
               class="o-input-lbl">Postal Code</label>
        <input pInputText
               id="bd_postal_code"
               type="text"
               formControlName="postalCode"
               autocomplete="off"
               class="w-full o-h-40" />
      </div>

      <div class="field">

        <label for="bd_state"
               class="o-input-lbl">Region/State</label>
        <input pInputText
               id="bd_state"
               type="text"
               formControlName="state"
               autocomplete="off"
               class="w-full o-h-40" />
      </div>


    </div>

    <div class="col align-items-center">

      <div class="field">
        <label for="bd_phone"
               class="o-input-lbl">Phone number</label>
        <input pInputText
               id="bd_phone"
               type="text"
               formControlName="phone"
               autocomplete="off"
               class="w-full o-h-40" />
      </div>

      <div class="field">
        <label for="bd_city"
               class="o-input-lbl">City</label>
        <input pInputText
               id="bd_city"
               type="text"
               formControlName="city"
               autocomplete="off"
               class="w-full o-h-40" />
      </div>

      <div class="field">
        <label for="bd_country"
               class="o-input-lbl">Country</label>
        <input pInputText
               id="bd_country"
               type="text"
               formControlName="country"
               autocomplete="off"
               class="w-full o-h-40" />
      </div>

      <div class="field">
        <label for="bd_vat_number"
               class="o-input-lbl">VAT Number</label>
        <input pInputText
               id="bd_vat_number"
               type="text"
               formControlName="vatNumber"
               autocomplete="off"
               class="w-full o-h-40" />
      </div>

    </div>

  </div>

</div>