.o-server-error {
  padding: 20px 24px;
  background-color: rgba(250, 110, 101, 0.05);
  color: #DA362C;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  border-radius: var(--border-radius);
}