.entities-table {
  .p-datatable {
    tr {
      th {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 700 !important;
        font-size: 16px;
        line-height: normal;
      }

      td {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: normal;
      }
    }

    .p-datatable-wrapper {
      border: 1px solid var(--color-grey-450);
      border-radius: var(--border-radius);
    }

    .p-datatable-thead>tr>th {
      padding: 20px 0 18px;

      &:last-child {
        width: 60px;
      }
    }

    .p-datatable-tbody {
      &>tr {
        &:nth-child(odd) {
          background-color: #fcfcfc;
        }

        &>td {
          padding: 15px 0;
          border: 0;
          color: var(--color-grey-1000);

          .entity-name {
            cursor: pointer;
            transition: color 0.2s ease-in-out;
            color: var(--color-green-800);

            &:hover {
              color: var(--color-green-1000);
            }
          }

          .entity-actions {
            width: 100%;
            display: flex;
            align-items: center;
            column-gap: 10px;
          }

          .entity-action {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            transition: color 0.3s ease;

            cursor: pointer;
            color: var(--color-grey-800);

            o-icon {
              height: 16px;
              width: 16px;
            }

            &:hover {
              color: var(--color-grey-1000);
            }
          }
        }
      }
    }

    .p-datatable-thead>tr>th:first-child,
    .p-datatable-tbody>tr>td:first-child {
      padding-left: 30px;
    }

    .p-datatable-tbody>tr>td:last-child {
      padding-right: 30px;
    }
  }
}