<div class="flex flex-column align-items-center justify-content-between mx-auto h-full o-pt-30 o-pb-30"
     style="width: 390px;">

  <a class="logo flex o-c-gap-10 align-items-center justify-content-start mx-auto no-underline"
     href="https://onigiri.one">
    <svg version="2.0"
         class="logo__img">
      <use xlink:href="#onigiri_logo_svg" />
    </svg>

    <span class="logo__text o-logo-text o-color-grey-1000">
      ONIGIRI
    </span>
  </a>

  <div class="flex flex-column align-items-center mx-auto text-center"
       style="width: 312px;">

    <p class="sorry ">
      Sorry, we don’t support mobile version yet
    </p>

    <div class="info flex flex-column mx-auto o-r-gap-30">
      <p>For the best experience, Onigiri is designed to be used on desktop or tablet.</p>
      <p>While we’re working on a proper mobile version, you can enjoy full functionality on larger screens right now.
      </p>
      <p>We’ll let you know as soon as our mobile version is ready to roll!</p>

    </div>

  </div>

  <img class="mx-auto"
       src="../../../assets/onigiri.png"
       alt="Onigiri"
       width="190">


</div>