:host {
  display: inline-block;
  position: relative;
  width: 560px;
}

.coming-soon-wrap {
  position: absolute;
  right: 55px;
  top: 34px;
  z-index: 2;
}

.product {
  padding: 30px 55px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-grey-450);
  height: 100%;
  width: 100%;

  &:not(.disabled) {
    background-color: #fff;
  }

  &.disabled {
    opacity: 0.4;
  }

  &__prices {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &-title {
      height: 38px;
    }
  }

  &__features {
    margin-top: 30px;
    border-top: 1px solid #d9d9d9;
    padding-top: 30px;

    &-list {
      padding-left: 25px;
      margin-top: 10px;
      list-style: none;

      li {
        padding: 12px 0;
        list-style: disc;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  :host {
    width: 100%;
  }

  .product {
    padding: 20px 18px;
  }
}
