<div class="invoice-card">
  <div class="client-card__row">
    <div class="client-card__first-line">
      <span
        class="client-card__status-{{
          entry?.status?.toLowerCase() || 'draft'
        }}">
        {{ entry?.status || 'DRAFT' }}
      </span>
      <span class="client-card__entity-name">
        {{ entry?.no }}
      </span>
    </div>
    <div>
      <span class="client-card__client-name">
        {{ entry?.customer?.contactName || '(Not named)' }}
      </span>
    </div>

    <div class="client-meta">
      <span class="client-meta__label">CUSTOMER</span>
      <div class="client-meta__email">{{ entry?.customer?.email || '-' }}</div>
    </div>
  </div>
  <div class="client-card__last-line">
    <span>{{ entry?.amount }}</span>
    <ng-content select="[actions]">
      <div
        class="client-card__actions"
        *ngIf="showActions"></div>
    </ng-content>
  </div>
</div>
