<div class="o-dialog">

  <div class="o-dialog__closing">
    <div class="o-dialog__close-icon"
         (click)="onCancel()">
      <o-icon key="close" />
    </div>
  </div>

  <div class="o-dialog__body">

    <div class="o-dialog__header">
      <h2 class="o-dialog__header-title">You're going to delete <span class="font-bold">{{data.name}}</span> project.
      </h2>
      <p class="o-dialog__header-caption">
        You won't be able to restore it. If you want to keep access to this project better use “Complete & archive”
        option.
      </p>
    </div>

    <div class="o-dialog__footer o-mt-20">

      <o-button secondary
                (onClick)="onCancel()">Cancel</o-button>

      <o-button danger
                (onClick)="onDeleteConfirmed()">Delete</o-button>
    </div>

  </div>
</div>