@let data = invoicesData();

<div class="flex justify-content-between align-items-center">
  <h1>Invoices</h1>

  @if(!isLoading() && data.length) {
  <o-button (onClick)="onCreate()">New Invoice</o-button>
  }
</div>

<div class="o-mt-40">
  @if(isLoading()) {
  <p-skeleton
    width="100%"
    height="300px" />

  } @else if (data.length) {

  <p-table
    [value]="data"
    class="entities-table">
    <ng-template pTemplate="header">
      <tr>
        <th>No.</th>
        <th>Client</th>
        <th>Issue Date</th>
        <th>Total</th>
        <th style="width: 80px"></th>
        <th style="width: 70px"></th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-entry>
      <tr>
        <td>
          <span
            class="entity-name"
            (click)="onEdit(entry.id)">
            {{ entry.no || '(Not named)' }}</span
          >
        </td>
        <!-- <td>{{ entry.no }}</td> -->
        <td>
          @if(entry.customer) {
          <span class="o-color-grey-1000">{{
            entry.customer.contactName || '(Not named)'
          }}</span>
          } @else {
          <span class="o-color-grey-500">no client</span>
          }
        </td>
        <td>{{ entry.date | oDate }}</td>
        <td>{{ entry.amount }}</td>
        <td><invoice-status-chip [status]="entry.status" /></td>
        <td>
          <div class="entity-actions">
            <div class="entity-action">
              <o-icon
                key="copy"
                (click)="onCopy(entry.id)" />
            </div>

            <div class="entity-action">
              <o-icon
                key="trash"
                (click)="onDelete(entry)" />
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="mobile-cards">
    <ng-container *ngFor="let entry of data; trackBy: trackById">
      <invoice-card
        (clickMore)="onEdit($event)"
        [invoice]="entry"
        [entry]="entry"
        [date]="entry.date"
        [showActions]="true">
        <span
          actions
          class="client-card__dots"
          (click)="openMobileMenu(entry)"
          >⋯</span
        >
      </invoice-card>
    </ng-container>
  </div>

  @if(selectedInvoice()) {
  <div
    class="mobile-menu-overlay"
    (click)="closeMobileMenu()">
    <div
          class="mobile-menu"
          (click)="$event.stopPropagation()">
    @switch (invoiceDeleteStage()) {
      @case (1) {
        
          <invoice-card
            [invoice]="selectedInvoice()"
            [entry]="selectedInvoice()!"
            [showActions]="false"></invoice-card>
    
          <div class="mobile-menu__actions mobile-menu__actions--invoice">
            <button class="mobile-menu__button mobile-menu__button--copy">
              <o-icon key="copy" />
              Copy
            </button>
            <button
              class="mobile-menu__button mobile-menu__button--delete"
              (click)="invoiceDeleteStage.set(2)">
              <o-icon key="trash" />
              Delete
            </button>
          </div>
          <button
            class="mobile-menu__button mobile-menu__button--edit"
            (click)="onEditMobile()">
            <o-icon key="edit" />
            Edit
          </button>
      }
      @case (2) {
        <div class="o-dialog__body">

    <div class="o-dialog__header">
      <h2 class="o-dialog__header-title">
        You’re going to delete

        @if(selectedInvoice()) {
        <span class="font-extrabold">{{selectedInvoice()?.no}}</span>
        } @else {
        invoice
        }

  @if(selectedInvoice()) {
  made for <span class="font-extrabold">{{contactName(selectedInvoice()) || '(Not named)'}}</span>
  }
      </h2>
      <p class="o-dialog__header-caption o-color-grey-1000">
        You won’t be able to restore it. Please be sure that you want to delete it otherwise it would be lost forever
      </p>
    </div>

    <!-- <div class="o-dialog__content o-mt-40">

    

    </div> -->

    <div style="display: flex;justify-content: space-between;" class="o-dialog__footer--warning">

      <o-button (onClick)="closeMobileMenu()" secondary width="100%"
                >Cancel</o-button>

      <o-button  danger (onClick)="onConfirm(''+(selectedInvoice()?.id))" width="100%" 
                ><o-icon key="trash" />Delete</o-button>
    </div>
  </div>
      }
    }
      </div>
  </div>
  } } @else {

  <empty-state-placeholder
    title="Create your first invoice"
    subTitle="Easily make, send and share invoices — get paid faster than ever"
    btnText="Create invoice"
    (onCreateClick)="onCreate()">
    <ng-template oTemplate="sample">
      <div class="sample-img">
        <img
          src="../../../../assets/invoice_sample.png"
          alt="Sample" />
      </div>
    </ng-template>
  </empty-state-placeholder>

  }
</div>
