<div class="service-card">
  <div class="service-card__row">
    <div class="service-card__field">
      <span class="service-card__label">SERVICE</span>
      <span class="service-card__value service-card__value--name">
        {{ service.name || '(Not named)' }}
      </span>
    </div>
  </div>
  <div class="service-card__row">
    <div class="service-card__field">
      <span class="service-card__label">PRICE</span>
      <span class="service-card__value">{{ service.price }}</span>
    </div>
  </div>
</div>
