<div class="empty-state__content">
  <h2 class="empty-state__title">
    {{ title }}
  </h2>

  <p class="empty-state__subtitle">
    {{ subTitle }}
  </p>

  <div class="empty-state__action">
    @if(actionTemplate) {
    <ng-container *ngTemplateOutlet="actionTemplate"></ng-container>
    } @else {
    <o-button (onClick)="onCreateClick.emit()">{{ btnText }}</o-button>
    }
  </div>

  @if(imgTemplate) {
  <div class="empty-state__img-wrap">
    <ng-container *ngTemplateOutlet="imgTemplate"></ng-container>
  </div>
  }
</div>
