:host {
  display: block;
}

.selected-customer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;


  &__info {
    flex: 1;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}