:host {
  display: block;


  background-color: var(--color-grey-200);

  // TODO: fix
  min-width: 1200px;
}

a {
  text-decoration: none;
}

$nav-width: 280px;

main {

  transition: transform 0.3s;
  width: 100vw;

  &.with-nav {
    transform: translateX(280px);
    width: calc(100vw - #{$nav-width});
  }
}

.upgrade-subscr-btn {
  width: 230px;

  background-color: var(--color-grey-1000);
  color: var(--color-grey-100);

  &__text {
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    color: var(--color-grey-200);

    .upgrade-subscr-btn__text {
      opacity: 0.7;
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: var(--color-grey-100);
  padding: 44px 25px 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 280px;

  opacity: 0;
  transform: translateX(-$nav-width);

  transition: transform 0.3s ease-in-out, opacity 0.15s ease 0.15s;

  &--visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav-link {
  position: relative;

  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  align-items: center;
  text-decoration: none;
  color: var(--color-grey-800);

  &__label {
    flex: 1;
  }

  &__icon-wrap {
    width: 30px;
    height: 30px;
    padding: 7px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  &.is-active {
    color: var(--color-grey-1000);

    &::after {
      position: absolute;
      content: " ";
      display: inline-block;
      width: 2px;
      height: 100%;
      right: -25px;
      background-color: var(--color-green-800);
    }
  }

  &--disabled {

    .nav-link__label,
    .nav-link__icon-wrap {
      opacity: 0.4;
    }
  }

  &:hover {
    color: var(--color-grey-1000);

    &::after {
      position: absolute;
      content: " ";
      display: inline-block;
      width: 2px;
      height: 100%;
      right: -25px;
      background-color: var(--color-grey-500);
    }
  }
}

.logo {
  svg {
    width: 34px;
    height: 26px;
  }

  &__text {
    font-family: Rubik;
    font-weight: 600;
    font-size: 24px;
  }
}

.nav-menu {
  .nav-link {
    margin-bottom: 20px;
  }
}